.row
	.col-md-6
		#details
			%ul
				%h2= link_to note.title, note
				%h1= note.title
				%p= note.description
				= link_to "Back", root_path, class: "btn btn-default"
				= link_to "Edit", note_path(note), remote: true, class: "btn btn-default"
				= link_to "Delete", note_path(note), method: :delete, data: {confirm: "Are you sure?" }, class: "btn btn-default", remote: true
	.col-md-6.well
		#editdetails